.all-detailed-bucket{
    text-align: left !important;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.detailed-image{
    text-align: center;
    flex-shrink: 0;
}

.all-detailed-bucket > div.detailed-child{
    width: 45%;
    height: 10%;
    margin: 2%;
    font-size: 30px;
}

.synopsis-content{
    padding: 0 25px;
}

.other-content-div table{
    margin-bottom: 15px;
}

.detailed-child .ordinary-text, .other-content-div .ordinary-text{
    font-size: 22px;
    color: black;
    font-weight: 200;
}
.detailed-child .title, .other-content-div .title{
    font-size: 15px;
    color: black;
    font-weight: 600;
}

.other-content-div table th, .other-content-div table td{
    padding: 5px 25px;
    text-align: left;
}

.content-badge{
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 5px;
    line-height: 5px;
    font-size: 12px;
    font-weight: 200;
}

.trailer-btn-div{
    text-align: center;
}

.trailer-btn{
    margin-bottom: 15px;
}