.loading-bucket{
    background-color: black;
    height: 800px;
    position: absolute;
    width: 30%;
    z-index: 999;
    opacity: 0.8;
    border-radius: 10px;
}

@media only screen and (min-width: 993px) {
    .loading-bucket{
        width: 40%;
    }
}

@media only screen and (max-width: 992px) {
    .loading-bucket{
        width: 90%;
        height: 300px;
    }
    .loading-bucket img{
        margin-top: 100px !important;
    }
}

.loading-bucket img{
    margin-top: 250px;
    opacity: 1;
    width: 20%
}