.all-result-content{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
}

.all-result-content > div.each-content {
    background-color: #f1f1f1;
    width: 28%;
    height: 10%;
    margin: 2%;
    font-size: 30px;
}

@media only screen and (max-width: 1200px) {
    .all-result-content > div.each-content {
        width: 40%;
        margin: 5%;
    }
}

@media only screen and (max-width: 992px) {
    .all-result-content > div.each-content {
        width: 20%;
        margin: 2%;
    }
    .all-result-conten{
        flex-direction: column;
    }
}
@media only screen and (max-width: 768px) {
    .all-result-content > div.each-content {
        width: 40%;
        margin: 5%;
    }
    .all-result-conten{
        flex-direction: column;
        display: inline;
    }
}

.each-content{
    position: relative;
    cursor:pointer;
}
.content-img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 10px;
}
.middle-div{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.each-content:hover{
    z-index: 999;
}

.each-content:hover .content-img{
    opacity: 0.5;
    z-index: 999;
}
.each-content:hover .middle-div {
    opacity: 1;
}

.content-basic-info{
    width: 100%;
}
.content-basic-info .content-text{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: black;
    font-weight: 800;
}

.no-content-to-show{
    margin-top: 300px;
}